# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Java
*.class
*.jar
*.war
*.ear
*.iml
*.log

# Build outputs
/dist
/build
/out

# IDE / Editor settings
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db
